.editor-buttons__layout {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: var(--bg-main);
  position: absolute;
  top: 0;
}
